<div class="main_left_div">
{{- range site.Menus.main }}
   <li>
       {{if .URL }}
          <a href="{{ .URL }}">
       {{ else }}
          <a href="{{ .PageRef }}">
       {{ end }}
       {{ .Name }}
       {{- with .Page }}
          {{- with .Params.version -}}
          ({{ . }}
         {{- end }}
       {{- end }}
   </a>
 </li>
{{- end }}

{{ range site.RegularPages.ByTitle }}
   <li>
       <a href="{{ .RelPermalink }}">{{ .Title }}</a>
   </li>
{{ end }}
</div>